<div
  style="
    height: 100vh;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    padding: 2rem;
    margin: 0;
  ">
  <header> Header </header>
  <main class="content" style="width:100%; height:100%;">
    <ag-grid-angular
      style="width:100%;height:100%;"
      [rowData]="rowData()"
      [columnDefs]="colDefs"
      [defaultColDef]="defaultColDefs"
      [gridOptions]="gridOptions"
      [overlayLoadingTemplate]="'<h4> LOADING OVERLAY - THERE IS A COMPONENT VERSION </h4> '"
      [overlayNoRowsTemplate]="'<h4> NO ROWS TO SHOW OVERLAY - THERE IS A COMPONENT VERSION </h4> '"
    />
  </main>
  <footer> Footer </footer>
</div>
