:host {
  // Necessary to be able to add margins and paddings
  display: inline-block;
  width: 100%;
  border-left: 4px solid lightgreen;
  background-color: lightblue;
  // Depends on the display: inline-block from :host
  .detail-grid {
    margin: 0 1rem 1rem;
  }
}
