/* You can add global styles to this file, and also import other style files */
body{
  min-height: 100%;
  background-color: black;
  height: 100%;
}

:root {
  --expanded-detail-one : dodgerblue;
  --expanded-detail-two : forestgreen;
}

// Removes the extra spacing when rows don't fill the minimum default space
.ag-center-cols-viewport {
  min-height: 32px !important;
}

.ag-cell.ag-column-first[col-id="mission"][aria-expanded="true"] {
 border-left: 4px solid var(--expanded-detail-one);
}

.ag-cell.ag-column-first[col-id="euros"][aria-expanded="true"] {
  border-left: 4px solid var(--expanded-detail-two);
}

.master-grid {
  --ag-header-background-color: lightsalmon;
}
